@charset "UTF-8";
// 颜色
$bg-color: #f6f6f6;

$aside-bg-color: #343f48;
$main-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #909399;

$main-text-color: #303133;
$normal-text-color: #606266;
$secondary-text-color: #909399;
$placeholder-text-color: #C0C4CC;

$main-border-color: #DCDFE6;
$normal-border-color: #E4E7ED;
$secondary-border-color: #EBEEF5;
$placeholder-border-color: #F2F6FC;
